red_dir/flows_USER-20181127YL.json
[{"id":"78dd8e9.d92c77","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"c67606ea.1f18f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ff37f18.7abc3","type":"ui_group","z":"","name":"Group1","tab":"c67606ea.1f18f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f3c9d4a.fc23f4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88a9c482.720d28","type":"ui_group","name":"Group 2","tab":"c67606ea.1f18f8","order":2,"disp":true,"width":6},{"id":"4fbd675d.5d0048","type":"ui_group","name":"Group 3","tab":"c67606ea.1f18f8","order":3,"disp":true,"width":6},{"id":"7f074301.8c32cc","type":"ui_gauge","z":"78dd8e9.d92c77","name":"","group":"3ff37f18.7abc3","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":160,"wires":[]},{"id":"cce43066.eac5e","type":"ui_chart","z":"78dd8e9.d92c77","name":"","group":"3ff37f18.7abc3","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":260,"wires":[[]]},{"id":"e68d9e8c.315d3","type":"inject","z":"78dd8e9.d92c77","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["9d46443f.d95d98"]]},{"id":"9d46443f.d95d98","type":"function","z":"78dd8e9.d92c77","name":"random","func":"msg.payload = Math.round(100*Math.random())\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["7f074301.8c32cc","cce43066.eac5e"]]},{"id":"11fc56d8.21d459","type":"ui_gauge","z":"78dd8e9.d92c77","name":"","group":"88a9c482.720d28","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":360,"wires":[]},{"id":"451520fd.dcd3","type":"ui_chart","z":"78dd8e9.d92c77","name":"","group":"88a9c482.720d28","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":460,"wires":[[]]},{"id":"bf1d6bde.9d0c78","type":"inject","z":"78dd8e9.d92c77","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["dd0d4140.d8a15"]]},{"id":"dd0d4140.d8a15","type":"function","z":"78dd8e9.d92c77","name":"random","func":"msg.payload = Math.round(100*Math.random())\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["11fc56d8.21d459","451520fd.dcd3"]]},{"id":"afb46bef.2787d8","type":"ui_gauge","z":"78dd8e9.d92c77","name":"","group":"4fbd675d.5d0048","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"9a70b642.102078","type":"ui_chart","z":"78dd8e9.d92c77","name":"","group":"4fbd675d.5d0048","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":660,"wires":[[]]},{"id":"bc430f5c.dbb78","type":"inject","z":"78dd8e9.d92c77","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["2c4295d2.5b0c2a"]]},{"id":"2c4295d2.5b0c2a","type":"function","z":"78dd8e9.d92c77","name":"random","func":"msg.payload = Math.round(100*Math.random())\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["afb46bef.2787d8","9a70b642.102078"]]}]